/* body background color #E5E5E5 */
/* secondary background color #F4F4FD */
/* top bar color #E7E9FC */

/* main text color #434455*/
/* headlines text color #2E2F42 */
/* white text color #FFFFFF */
/* accent blue color #4D5AE5 */
/* secondary white text color #4D5AE5 */
:root{
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE5; 
    --white-text-color: #FFFFFF;
    --primary-bg-color: #E5E5E5;
    --active-button-color:#4D5AE5;
    --non-active-button-color: #F4F4FD;
}
.page {
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
}

.list {
    list-style: none;
}

.logo {
    color: var(--title-text-color);
}

/* site nav */
.site-nav .link {
    color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: #000000;
}

/* Hero */
.hero-title {
    color: var(--white-text-color);
}

/* Sections */
.section-title {
    color: var(--title-text-color);
}

/* Features */
.feature-list .title {
    color: var(--title-text-color);
}

/* Team */
.team-list .title {
    color: var(--title-text-color);
}

/* Buttons */

.button {
    color: var(--accent-color);
    background-color: var(--non-active-button-color)
}

.button.primary {
    color: var(--white-text-color);
    background-color: var(--active-button-color);
}

.button.secondary {
    color: var(--accent-color);
    background-color: var(--non-active-button-color)
}